.cart-item {
  width: 100%;
  border-bottom: 1px solid #8a2b06;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  margin-top: 1rem;
}

.cart-item h2 {
  margin: 0;
}

.summary {
  display: flex;
  align-items: center;
  gap: 3rem;
  grid-column: 1;
  margin-bottom: 1rem;
}

.price {
  color: #8a2b06;
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem;
}

.amount {
  border: 1px solid #ccc;
  font-size: 0.9rem;
  border-radius: 5px;
  grid-column: -1;
  padding: 0.4rem;
}

.actions {
  text-align: right;
}

.actions button {
  border: 1px solid #8a2b06;
  padding: 0.2rem 1.2rem;
  cursor: pointer;
  color: #8a2b06;
  background: transparent;
  border-radius: 5px;
}

.actions button:nth-of-type(1) {
  margin-right: 1rem;
}

.actions button:active,
.actions button:hover {
  background-color: #4d1601;
  color: white;
}
